/* CSS reset and use border-box by default */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.main-navigation ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #333;
  padding: 1rem;
}

.main-navigation ul li {
  margin-right: 2em;
}

.main-navigation ul li:first-child {
  flex: 1;
  margin-right: 0;
}
.main-navigation ul li:last-child {
  margin-right: 0;
}

.nav-logo {
  position: relative;
  max-height: 3rem;
  top: 1px;
}

.index > header {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.landing {
  position: relative;
  background: linear-gradient(0deg, #2881D0, #1B98A2, #FFFFFF);
  height: 100%;
}

.landing-bridge {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: no-repeat right bottom / contain url("bridge.svg");
}

.landing-content {
  position: relative;
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.landing-photo-wrapper {
  padding: 77px 57px;
  background: space url("circle.svg");
}

.landing-arrow-wrapper {
  padding: 10px 40px;
  background-color: white;
  border-radius: 10%;
}

.vertical-bounce {
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  animation: vertical-bounce 3.6s ease infinite;
  transform-origin: 50% 50%;
}

@keyframes vertical-bounce {
  0% {
    transform: translateY(0);
  }
  5.55556% {
    transform: translateY(0);
  }
  11.11111% {
    transform: translateY(0);
  }
  22.22222% {
    transform: translateY(-15px);
  }
  27.77778% {
    transform: translateY(0);
  }
  33.33333% {
    transform: translateY(-15px);
  }
  44.44444% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

.stats {
  width: 100%;
  text-align: center;
}

.stats-line {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  margin: 3em;

}

.stats-value {
  font-size: 120%;
  font-weight: bold;
}

.stats-color-1 {
  color: #C21981;
}

.stats-color-2 {
  color: #0058A6;
}

.stats-color-3 {
  color: #F67510;
}

.bridge-text {
  color: #fff;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 32px;
  line-height: 3rem;
}

.bridge-text .line {
  display: inline-block;
}

.event-copy {
  color: #0058A6;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  line-height: 3rem;
}

.event-copy-text {
  font-weight: bold;
}

.link-button {
  border-radius: 0.35em;
}

.link-button-blue {
  background: #0058A6;
  color: white;
  text-decoration: none;
  padding: 0.25em 0.5em;
}

.main-footer {
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.main-footer > .subscribe {
  width: 100%;
  background-color: #5CA989;
}

.footer-navigation ul {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  list-style-type: none;
  justify-items: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  padding: 1rem;
}

.footer-contact address {
  font-style: normal;
}
