.section {
  background-color: #F5A362;
  overflow-x: hidden;
  position: relative;
  min-width: 100%;
}

.testimonial {
  min-width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.scroller {
  overflow: scroll;
}

.scroller::-webkit-scrollbar {
  display: none;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: row;
  overflow: scroll;
}

.ul  {
  display: flex;
  list-style-type: none;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #333;
  padding: 1rem;
}

.ul > li {
  cursor: pointer;
  background-color: #111111;
}

.ul > li.selected {
  cursor: initial;
  pointer-events: none;
  background-color: #F5A362;
}
