.section {
  background-color: #F5A362;
  overflow-x: hidden;
  position: relative;
  min-width: 100vw;
}

.testimonial {
  min-width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}
